*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px 0px;

}
.aboutsection{
    padding: 64px 0px;

}
.muslimm-img2{
    width: 400px;
}
.home-text2{
    
    align-items: center;
    border-radius: 30px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    font-size: 25px;
    background-color: rgb(78, 214, 78);
    padding: 28px;
    height: 50vh;
    color: white;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.text-contanier2{
    display: flex;
    align-items: center;
        margin: 0px 25px;   
}

@media only screen and (max-width: 1100px){
    .aboutsection{
        height: 100vh;
    }
    .muslimm-img2{
        width: 350px;
    }
    .home-text2{
        font-size: 20px;
    }
}
.main-contanier2{
 
    display: flex;
    align-items: center ;
    height: 100vh;
}
@media only screen and (max-width: 900px){
    .muslimm-img2{
        width: 300px;
    }
    .home-text2{
        font-size: 20px;
    }

}

@media only screen and (max-width: 750px){
    .main-contanier2{
        display: block;
   
    }
    
    .muslimm-img2{
        width: 250px;
    }
    .home-text2{
        font-size: 15px;
    }
    .aboutsection{
        height: 120vh;
    }

}